* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.container {
  display: flex;
  width: 60vw;
  height: 130vh;
  border: 1px solid black;
  margin: auto;
  background-color: #f1f1f1;
}

/* Here Left Section Start */
/* Here Left Section Start */
/* Here Left Section Start */
/* Here Left Section Start */
.leftSide {
  width: 40%;
  height: 130vh;
  background-color: black;
  color: white;
  padding: 20px;
}
.contact {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.heading {
  font-size: 16px;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
}
.line {
  width: 15em;
  border: 1px solid white;
  color: white;
  margin: 10px 0px;
}
.utility {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0px 10px;
}
.utility li {
  list-style: none;
  font-size: 15px;
  font-weight: 500;
  font-family: "Raleway", sans-serif;
}
.utility li a {
  text-decoration: none;
  color: white;
}
.dotUtility {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 15px;
  font-weight: 500;
  font-family: "Raleway", sans-serif;
  padding: 0px 20px;
}

/* Here Right Section Start */
/* Here Right Section Start */
/* Here Right Section Start */
/* Here Right Section Start */
.rightSide {
  width: 60%;
  height: 120vh;
  color: black;
  padding: 20px;
}
.nameHeading {
  font-size: 3em;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
.nameSubHeading {
  font-size: 16px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  margin-top: 5px;
  text-align: center;
}
.rightHeading {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  margin-top: 20px;
}
.rightLine {
  width: 25em;
  border: 1px solid black;
  color: black;
  margin: 10px 0px;
}
.description {
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  text-align: justify;
}
.educationDetails {
  display: flex;
  flex-direction: column;
}
.educationheading {
  font-size: 15px;
  margin: 0px 0px 5px 0px;
}
.clgDesciption {
  margin-bottom: 5px;
}
.projectHeading {
  font-size: 15px;
  margin: 0px 0px 5px 0px;
}
/* Here Media Queries Start  */
/* Here Media Queries Start  */
/* Here Media Queries Start  */
/* Here Media Queries Start  */
/* Here Media Queries Start  */

@media (max-width: 800px) {
  body {
    width: 100%;
    height: 100%;
  }
  .container {
    display: flex;
    width: 80%;
    height: 100%;
    border: 1px solid black;
    margin: 50px auto;
    background-color: #f1f1f1;
  }

  /* Here Left Section Start */
  /* Here Left Section Start */
  /* Here Left Section Start */
  /* Here Left Section Start */
  .leftSide {
    width: 35%;
    height: 100%;
    padding: 35px 0px;
  }
  .contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 30px;
  }

  .heading {
    font-size: 17px;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
  }
  .line {
    width: 100%;
    border: 1px solid white;
    margin: 10px 0px;
  }
  .utility {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* padding: 10px; */
  }
  .utility li {
    list-style: none;
    font-size: 14px;
    font-weight: 500;
    font-family: "Raleway", sans-serif;
  }
  .utility li a {
    text-decoration: none;
    color: white;
  }
  .dotUtility {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 14px;
    font-weight: 500;
    font-family: "Raleway", sans-serif;
    padding: 0px 20px;
  }

  /* Here Right Section Start */
  /* Here Right Section Start */
  /* Here Right Section Start */
  /* Here Right Section Start */
  .rightSide {
    width: 75%;
    height: 100%;
    color: black;
    padding: 0px 10px;
  }
  .nameHeading {
    font-size: 1.5rem;
  }
  .nameSubHeading {
    font-size: 16px;
  }

  .rightLine {
    width: 100%;
  }
  .description {
    font-size: 9px;
  }
}
@media (min-width: 801px) and (max-width: 1100px) {
  .line {
    width: 100%;
    border: 1px solid white;
    margin: 10px 0px;
  }
  .rightLine {
    width: 100%;
  }
  .description {
    font-size: 11px;
  }
}
